
.home{
    border-radius: 5px;
    margin: 0 10%;
    /* border: 2px solid whitesmoke; */
}
#del{
    width: 200px;
    font-size: 18px;
    background-color: brown;
    color: white;
}

#container{
    margin: 2% 10%;
    border: 2px solid gray;
    border-radius: 5px;
}
#new{
   position: relative;
   left: 42%;
   bottom: 5%;
   width: 150px;
   font-size: 18px;
   
}
#header{
    padding-left:10%; 
    text-align: left;
    font-size: 30px;
    margin: 10px;
    color:rgb(44, 44, 168);
}

.head{
    color:rgb(44, 44, 168);
}
md-list-item{
    font-size: 24px;
}

#add, #edit{
    margin: 2% 10%;
    border-radius: 5px;
    border: 2px solid gray;
   
}
.userForm{
    font-size: 20px;
    margin-top: 50px;
}
